.warframe-login-container {
  padding: 5%;
}

.warframe-login-title {
  text-align: center;
}

.warframe-login-methods-container {
  text-align: center;
}

.warframe-login-button {
  margin: 1%;

  position: relative;
  display: inline-block;
}

.warframe-login-img {
  height: 8vh;
  width: 8vw;
}
