<nav class="navbar navbar-default container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed"
      data-toggle="collapse" data-target="#navbar"
      aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ui-sref="buy">WarFrame Trading Board</a>
  </div>

  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li class="page"><a ui-sref="buy">Buy</a></li>
      <li class="page"><a ui-sref="sell">Sell</a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <!-- Navigation when Signed Out -->
      <li ng-if="!user.user">
        <a href="/auth/facebook/">Sign In</a>
      </li>

      <!-- Navigation when Signed In -->
      <li ng-if="user.user">
        <div class="user-info">
          Welcome, {{ user.user.name.first }} {{ user.user.name.last }}
          <img ng-src="{{ user.user.profile.picture }}" />
          <a ui-sref="signOut">Sign Out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
