.warframe-custom-nav-bar-user-profile img {
  max-height: 50px;
}

.warframe-custom-nav-bar-user-profile {
  padding-right: 15px;
}

nav li a.warframe-custom-nav-bar-new-post-container {
  margin-top: 8px;
  padding: 0;
}
